<div>
  <div class="col-md-8 col-md-offset-2">
    <form class="" action="/" method="post">
      <div class="form-group">
        <input type="text" name="tarefa[title]" id="campo-adicionar-tarefa" class="form-control input-lg" placeholder="Estou pensando em fazer..." />
      </div>
      <button type="submit" class="btn btn-success pull-right">Adicionar Tarefa <span class="glyphicon glyphicon-chevron-right" /></button>
    </form>
    <div class="tarefas">
      <table class="table">
        <% @tarefas.each do |tarefa| %>
          <tr>
            <td><a href="/tarefas/<%= tarefa.id %>"><%= tarefa.title %></a></td>
            <td><a href="/tarefas/<%= tarefa.id %>/edit"><span class="glyphicon glyphicon-list-alt"></span></a></td>
            <td><span class="glyphicon glyphicon-ok"></span><a href="/tarefas/<%= tarefa.id %>"></a></td>
            <td>
              <form action="/tarefas/<%= tarefa.id %>" method="post" class="">
                <button type="submit" name="button" class="botao-transparente">
                  <span aria-hidden="true" class="glyphicon glyphicon-remove" id="botao-remover-tarefa">
                  </span>
                </button>
                <input type="hidden" name="_method" value="delete" />
              </form>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
